<div id="user">
    <div id="color-bar"></div>
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Profile image">
    </div>
    <div id="name">
        <h3>Tanmay Chavan</h3>
    </div>
</div>


<div id="user">
    <div id="color-bar"></div>
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Profile image">
    </div>
    <div id="name">
        <h3>Tanmay Chavan</h3>
    </div>
</div>



<div id="user">
    <div id="color-bar"></div>
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Profile image">
    </div>
    <div id="name">
        <h3>Tanmay Chavan</h3>
    </div>
</div>



<div id="user">
    <div id="color-bar"></div>
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Profile image">
    </div>
    <div id="name">
        <h3>Tanmay Chavan</h3>
    </div>
</div>

