<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input type="text" #txtInput>
  <button (click)="saveUserName(txtInput.value)"> Save Username </button>
  <input type="text" placeholder="Receiver name" #receiver>
  <button (click)="saveReceiver(receiver.value)" > Save Receiver Name  </button>
  <input type="text" placeholder="Message" #sender>
  <button (click)="sendMessage(sender.value)" > Send </button>
</body>
</html> -->

<div id="inner-wrapper">
  <app-chat-container></app-chat-container>
  <app-login></app-login>
</div>