#account{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #262626;
}

#icon-wrapper{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actions{
    width: 100%;
    height: 97%;
}

#icon-container{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

#icon-container img{
    width: 120%;
    height: 120%;
    object-fit: contain;
}
