<div id="status-bar">
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Avatar">
    </div>
    <div id="status">
        <div id="name">
            <h2>Tanmay Chavan</h2>
        </div>
        <div id="currStatus">
            <h4>Offline</h4>
        </div>
    </div>
    <div id="extra-section"></div>
</div>
<div id="chat-mid-section">
    <li class="msg">
    </li>
</div>
<div id="chat-bottom-section">
    <input type="text" id="userInput" placeholder="Type here...">
    <button id="sendButton">
        <img src="../../../assets/sendBtn.png" alt="Send">
    </button>
</div>